<header>
  <div>Archangel Pro Life Club</div>
</header>

<main>

  <div class="links">
    <a href="https://studentsforlife.org/" target="_blank"><img src="assets/img/students-for-life-america.png" /></a>
    <a href="https://www.studentsforlifehq.com/" target="_blank"><img src="assets/img/students-for-life-hq.png" /></a>
  </div>
</main>

<footer>
  <div>
    <a href="https://www.facebook.com/AASchoolAngels" target="_blank"><img src="assets/img/ico-facebook-blue.png" />
      Follow us on Facebook</a>
  </div>
  <div>
    Archangel School 2400 Chili Avenue Rochester, New York 14624
  </div>
</footer>